{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-decorators",
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-runtime",
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ],
  "sourceMaps": true
}
